.r-single
  %header.r-header
    =render "layouts/header"
  %main.r-single-main
    %section.r-single-container
      %h2.r-single-header 会員情報登録
      = form_for(@user, url: registration_path(resource_name)) do |f|
        .r-sigle-content
          .field
            = f.label "ニックネーム", class: "nickname"
            %span.require 必須
            %br/
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "input-default",placeholder: " 例 フルル"
          .field
            = f.label "Eメールアドレス"
            %span.require 必須
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email",class: "input-default",placeholder: " Eメールを入力してください"
          .field
            = f.label "パスワード"
            %span.require 必須
            - if @minimum_password_length
              %em
                (7 文字以上)
            %br/
            = f.password_field :password, autocomplete: "new-password",class: "input-default",placeholder: " 7文字以上で入力"
          .field
            = f.label "パスワード（確認）"
            %span.require 必須
            - if @minimum_password_length
              %em
                (同じ文字7文字以上)
            %br/
            = f.password_field :password_confirmation, autocomplete: "password_confirmation",class: "input-default",placeholder: " 7文字以上で入力"
          .field
            %div
              = f.label "お名前"
              %span.require 必須
              %br/
            = f.text_field :family_name, autofocus: true, autocomplete: "family_name",class: "input-default harf",placeholder: "付利魔(全角大字)"
            = f.text_field :first_name, autofocus: true, autocomplete: "first_name",class: "input-default harf",placeholder: "太郎(全角大字)"
          .field
            %div
              = f.label "お名前カナ"
              %span.require 必須
              %br/
            .name-box
              = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana",class: "input-default harf",placeholder: "フリマ(全角カナ)"
              = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana",class: "input-default harf",placeholder: "タロウ(全角カナ)"
          .field
            = f.label "生年月日"
            %span.require 必須
            %br/
            .field__birthday
              = f.select :year,["--"], {},{class: "field__birthday--box", id:"select_year"}
              %span 年
              = f.select :month,["--"], {},{class: "field__birthday--box", id:"select_month"}
              %span 月
              = f.select :day,["--"], {},{class: "field__birthday--box", id:"select_day"}
              %span 日
          .field
            = f.label "電話番号"
            %span.require 必須
            %br/
            = f.text_field :number, autofocus: true, autocomplete: "number",class: "input-default",placeholder: "ハイフン無し 数字のみ入力"
          .field
            = f.label "性別"
            %span.require 必須
            %br/
            = f.radio_button :gender, 1 
            男性
            = f.radio_button :gender, 2
            女性
            = f.radio_button :gender, 3
            未選択
          .actions 
            = f.submit "住所登録画面へ",class: "next-btn"