%h2 Sign up
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :family_name
    %br/
    = f.text_field :family_name, autofocus: true, autocomplete: "family_name"
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
  .field
    = f.label :family_name_kana
    %br/
    = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana"
  .field
    = f.label :first_name_kana	
    %br/
    = f.text_field :first_name_kana	, autofocus: true, autocomplete: "first_name_kana"
  .field
    = f.label :postal_code	
    %br/
    = f.text_field :postal_code	, autofocus: true, autocomplete: "postal_code"
  .field
    = f.label :city
    %br/
    = f.text_field :city, autofocus: true, autocomplete: "city"
  .field
    = f.label :local
    %br/
    = f.text_field :local, autofocus: true, autocomplete: "local"
  .field
    = f.label :block
    %br/
    = f.text_field :block, autofocus: true, autocomplete: "block"
  .field
    = f.label :building
    %br/
    = f.text_field :building, autofocus: true, autocomplete: "building"
  .field
    = f.label :number
    %br/
    = f.text_field :number, autofocus: true, autocomplete: "number"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
