.ui__wrapper__side-bar
  .ui__wrapper__side-bar__contents
    %ul
      
      %li
        = link_to edit_user_registration_path(current_user.id)  do
          .ui__wrapper__side-bar__contents__content
            ユーザー登録情報の変更 >
      %li
        = link_to edit_user_path(current_user.id)  do
          .ui__wrapper__side-bar__contents__content
            プロフィールの変更 >
      %li
        = link_to edit_address_path(current_user.id)  do
          .ui__wrapper__side-bar__contents__content
            配送先情報の変更 >
      %li
        - if @user.card.present?
          = link_to cards_path(current_user.id)  do
            .ui__wrapper__side-bar__contents__content
              お支払い情報の確認、削除 >
        - else
          = link_to new_card_path(current_user.id)  do
            .ui__wrapper__side-bar__contents__content
              お支払い情報の登録 >
      %li
        = link_to user_path(current_user.id) do
          .ui__wrapper__side-bar__contents__content
            ユーザートップ >

   

