= render partial: 'layouts/header', locals: { header: @header }
.ue__wrapper
  = render "side-bar"
  .ue__wrapper__main-bar
    .ue__wrapper__main-bar__contents
      %h2.ue__wrapper__main-bar__contents__title
        メールアドレス・パスワード変更
      = form_for(@user, url: {controller: 'users', action: 'update_detail' }) do |f|
        .ue__wrapper__main-bar__contents__content
          = f.label "e-mail", class: "content-title"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail"
        .ue__wrapper__main-bar__contents__content
          = f.label "パスワード", class: "content-title"
          - if @minimum_password_length
            %em
            (7 characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: "半角英数字７字以上"
        .ue__wrapper__main-bar__contents__content
          = f.label "パスワード（確認用）", class: "content-title"
          - if @minimum_password_length
            %em
              (7 characters minimum)
          %br/
          = f.password_field :password_confirmation, autocomplete: "password_confirmation", placeholder: "半角英数字７字以上"
        .ue__wrapper__main-bar__contents__content
          = f.submit "更新する", class: "update-btn"
          = link_to "もどる", users_path(current_user), class: "back-btn"
= render partial: 'layouts/footer', locals: { footer: @footer }
- if user_signed_in?
  %a(href="/items/new")
    .sellBtn
      %span.sellBtn__text 出品する
      = image_tag 'icon_camera.png', alt: '', height: '', width: '', class: 'sellBtn__icon'
- else
  %a(href="/users/sign_in")
    .sellBtn
      %span.sellBtn__text ログインして出品する
      = image_tag 'icon_camera.png', alt: '', height: '', width: '', class: 'sellBtn__icon'
