= render partial: 'layouts/header', locals: { header: @header }
.ui__wrapper
  = render "side-bar"
  .ui__wrapper__main-bar
    .ui__wrapper__main-bar__contents
      %h2.ui__wrapper__main-bar__contents__title 
        #{@user.nickname} さんが出品した商品
      .ui__wrapper__main-bar__contents-flex
        - @items.each do |item|
          .ui__wrapper__main-bar__contents-flex__content
            = link_to item_path(item.id),class: "ui__wrapper__main-bar__contents__content__link" do
              .ui__wrapper__main-bar__contents-flex__content__link__box
                = image_tag item.images[0].src.url, class: "ui-Image"
                -if item.buyer_id.present?
                  .ui__itemBox__body--triangle
                  .ui__itemBox__body__soldout
                    SOLD
              .u_item-box_container_item_link_body
                %h3.u_item-box_container_item_link_body-name
                  = item.name
                .u_item-box_container_item_link_body_under
                  .u_item-box_container_item_link_body_under-price
                    = item.price
                  .u_item-box_container_item_link_body_under-favorite
                    %i.far.fa-heart.u_item-box_container_item_link_body_under-favorite_icon
                    %span.u_item-box_container_item_link_body_under-favorite_number 12
      
= render partial: 'layouts/footer', locals: { footer: @footer }
- if user_signed_in?
  %a(href="/items/new")
    .sellBtn
      %span.sellBtn__text 出品する
      = image_tag 'icon_camera.png', alt: '', height: '', width: '', class: 'sellBtn__icon'
- else
  %a(href="/users/sign_in")
    .sellBtn
      %span.sellBtn__text ログインして出品する
      = image_tag 'icon_camera.png', alt: '', height: '', width: '', class: 'sellBtn__icon'

