= render partial: 'layouts/header', locals: { header: @header }
.ui__wrapper
  = render "side-bar"
  = render "main-bar"
      
= render partial: 'layouts/footer', locals: { footer: @footer }
- if user_signed_in?
  %a(href="/items/new")
    .sellBtn
      %span.sellBtn__text 出品する
      = image_tag 'icon_camera.png', alt: '', height: '', width: '', class: 'sellBtn__icon'
- else
  %a(href="/users/sign_in")
    .sellBtn
      %span.sellBtn__text ログインして出品する
      = image_tag 'icon_camera.png', alt: '', height: '', width: '', class: 'sellBtn__icon'

