%h2
  プロフィールの変更
= form_for @address do |f|
  .field
    = f.label "名字"
    %br/
    = f.text_field :family_name, autofocus: true, autocomplete: "family_name"
  .field
    = f.label "名前"
    %br/
    = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
  .field
    = f.label "ミョウジ"
    %br/
    = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana"
  .field
    = f.label "ナマエ"
    %br/
    = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"
  .field
    = f.label "郵便番号"
    %br/
    = f.text_field :postal_code, autofocus: true, autocomplete: "postal_code"
  .field
    = f.label "都道府県"
    %br/
    = f.text_field :city, autofocus: true, autocomplete: "city"
  .field
    = f.label "市町村"
    %br/
    = f.text_field :local, autofocus: true, autocomplete: "local"
  .field
    = f.label "番地"
    %br/
    = f.text_field :block, autofocus: true, autocomplete: "block"
  .field
    = f.label "マンション名"
    %br/
    = f.text_field :building, autofocus: true, autocomplete: "building"
  .field
    = f.label "連絡先"
    %br/
    = f.text_field :number, autofocus: true, autocomplete: "number"
  .actions
    = f.submit "更新する"
= link_to "戻る", users_path(@user.id)