.n__container
  .n__logo
    = link_to image_tag('/assets/logo.png', :width => '170', :height => '60'), ""
      
  .n__form__container
    =form_for @item do |f|
      %ul
        .n__image__container
          %p.message 商品出品画像（必須）
          %p.message 最大5枚までアップロード出来ます
          .post__drop__box__container
            .prev-content
              - @item.images.each do |image|
                .preview-box
                  .upper-box
                    = image_tag image.src.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .delete-box
                      .delete-btn
                        %span 削除
            .label-content
              %label{for: "item_images_attributes_#{@item.images.length}_src", class: "label-box", id: "label-box--#{@item.images.length}"}
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              =f.fields_for :images do |i|
                = i.file_field :src, class: "hidden-field"
                = i.check_box :_destroy, class: "hidden-checkbox"
              - @item.images.length.upto(4) do |i|
                %input{name: "item[images_attributes][#{i}][src]", id: "item_images_attributes_#{i}_src", class: "hidden-field", type: "file"}
        .n__item__container
          %p.message 商品名（必須）
          = f.text_field :name, class: "name-box",  placeholder: "商品名（必須 40文字まで)"
          %p.message 商品の説明（必須）
          = f.text_area :description, class: "description-box", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）おじいちゃんの形見です。", rows: "5"
        .n__details__container
          %p.message 商品の詳細
          %p.message サイズ（任意)
          = f.text_field :size, class: "select-box",  placeholder: "（例）S, M, L"
          %p.message カテゴリー（必須)
          = f.collection_select :category_id, Category.all, :id, :name, {}, {class: "select-box"}
          %p.message ブランド（必須）
          = f.collection_select :brand_id, Brand.all, :id, :name, {}, {class: "select-box"}
          %p.message 商品の状態（必須）
          = f.text_field :condition, class: "select-box",  placeholder: "（例）とても良い"
        .n__post__container
          %p.message 配送について
          %p.message 配送量の負担（必須）
          =f.select :postage,[["送料込み(出品者負担)"]], {prompt: "---"}, {class: "select-box"}
          %p.message 発送元の地域（必須）
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, {class: "select-box"}
          %p.message 発送までの日数（必須）
          =f.select :wait,[["1~2日で発送"], ["2~3日で発送"],["4~7日で発送"]], {prompt: "---"},{class:"select-box"}
        .n__price__container
          %p.message 価格（¥300〜9,999,999）
          .content-flex
            .message 販売価格（必須）
            .price
              %span ¥
              =f.number_field :price, placeholder: "0", type: "number", class:"price-box"
      .n__submit__container
        .button
          =f.submit "商品情報を編集する", class: "exhibition"
        .back
          = link_to "編集しないで戻る", item_path(@item.id)
      .n__attention__container
        %p.message 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  .n__end__logo__container
    .n__end__logo__container__end__logo
      = link_to image_tag('/assets/logo.png', :width => '170', :height => '60'), "#"
      %p ©️Frima.inc 